.obrat{
  padding: 0 0 247px 0;
  margin: 0 auto;
  justify-content: center;
  
}
.obrat__inner{
  display: flex;
  
}
.obrat__right {
  padding: 62px 0 74px 166px;
  width: 990px;
  background-image: url("../images/feedback-bg.png");
  background-repeat: no-repeat;
  background-size: 967px 624px;
  background-color: #333333;
}
.obrat__title {
margin: 0 0 14px 0;
font-weight: 700;
font-size: 48px;
line-height: 62px;
color: #FFFFFF;
}
.obrat__text__box {
  width: 334px;
  margin-bottom: 29px;
}
.obrat__text {
margin: 0;
line-height: 20px;
color: #949494;
}
.obrat__input__name {
  display: block;
  width: 375px;
  padding: 16px 290px 13px 22px;
  margin-bottom: 14px;
}
.obrat__input__email {
  display: block;
  width: 375px;
  padding: 16px 188px 13px 22px;
  margin-bottom: 14px;

}
.obrat__input__last{
  width: 375px;
  display: block;
  padding: 17px 207px 127px 22px;
  margin-bottom: 30px;

}
.obrat__button {
  display: inline-block;
  padding: 15px 49px 14px 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #FFBD54;
  border-radius: 0px;
  border: none;
  text-align: center;
  cursor: pointer;
  &:hover{
     opacity: 0.8;
  }
  &:active{
     opacity: 0.6;
  }
  
}